

/*---------------- CORE -----------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before,*after{
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    background-color: #1d1c1c;
}


/*----------------  GLOBAL -----------------*/
img {
    max-width: 100%;
}
.contenedor {
    max-width: 170rem;
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;

}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*----------------  WEBSITE SECTION HEADER & NAV -----------------*/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;

}


.site-header.inicio {
   
    background: url(https://assets-prd.ignimgs.com/2020/01/17/doom-eternal-fire-baron-1533718919-1579287218145.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

/*---------------- WEBSITE BUTTONS -----------------*/
.d-block{
    display: block!important;
}

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo{
    background-color: #e08709;

}

.boton-verde{
    background-color: #71b100;

}


.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo {
    padding-bottom: 10rem;
}

.titulo a {
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    
    font-family:  'Oswald';
}

.contenido-header h1 {
    color: white;
    
    max-width: 130rem;
    font-size: 5.8rem;
    font-family: 'Oswald', ;
    line-height: 1;
}

.contenido-header h2 {
    color: white;
    /*padding-bottom: 10rem;*/
    max-width: 100rem;
    font-size: 2.4rem;
    font-family: 'Lato';
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    
    
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2.2rem;
    font-family:  'Oswald';


}

.navegacion a:hover {
    color: #717171;
}
.navegacion a:last-of-type {
    margin: 0;
}


.footer a {
    font-size: 3rem;
    margin-right: 3.5rem;
}

/*---------------- WEBSITE SECTION SITES -----------------*/
.sites-encabezado{
   
    text-align: center;
    margin-bottom: 2.8rem;
    margin-top: 8rem;
    font-family: 'Lato';
    font-size: 3.6rem;
    color: white;
}

.sites-info{
    text-align: center;
    margin-bottom: 8rem;
    font-family: 'Lato';
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
}


.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33% - 1rem);
    text-align: center;  


}

.icono h3{
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 3rem;
    color: white;
}



/*---------------- WEBSITE SECTION GAMES -----------------*/
.contenedor-juegos{
    display: flex;
    justify-content: center;
   
}

.juego {
   
  
   flex-basis: calc(22% - 1rem);
   border:1px solid #b5b5b5;
   background-color: #5f5f5f;
    margin-right: 2rem;

}

.juego:last-of-type{
    margin-right: 0;
}

.contenido-juego{
    text-align: center;
    color: white;
    padding: 2rem;
}
.contenido-juego p{
    font-size: 1.8rem;
}

.contenido-juego h3,
.contenido-juego p{
    line-height: 1;
    margin: 0;
    padding-top: 1rem;
}

.precio {
    color: #71b171;
    font-weight: 700;
    padding-top: 2rem;

}

.ver-todos {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.imagen-trabajo{
    background-image: url(../img/job-banner.jpg);
    
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-trabajo {
    flex: 1;
    color: white;
}

.contenido-trabajo p {
    font-size: 1.8rem;
}



/*---------------- WEBSITE BLOG -----------------*/
.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .press{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}


.entrada-blog .imagen {
    flex-basis: 25%;
    margin-right: 4rem;

}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
    color: white;
    font-size: 1.8rem;
}

.texto-entrada a{
    color: white;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: chartreuse;
    margin-top: 1rem;
}

.texto-entrada span{
    color: darkgoldenrod;
}

.titulo-blog,
.titulo-press{
    text-align: center;
    font-weight: 300;
    font-family: 'Lato';
    margin-bottom: 5rem;
    color: white;
}

.contenedor-press{
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
    margin-left: 4rem;
}

.contenedor-press p {
    text-align: right;
}
.contenedor-press blockquote::before{
    content: '';
    background-image: url();
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.contenedor-press blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}


/*---------------- WEBSITE FOOTER -----------------*/
.site-footer{
    background-color: #333333;
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin: 0;
    color: white;
    font-size: 1.6rem;
}

navegacion-footer a{
    color: white;
    font-size: 3rem;
}


/**-------------------------------- SECONDARY ------------------------------------**/


/*---------------- ABOUT US -----------------*/

.contenido-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 3rem;
    margin: 1rem 0 10rem 0;
    color: gray;
}

.texto-nosotros p{
    color: white;
    font-size: 1.8rem;
}

.titulo-nosotros {
    color: white;
    font-family: 'Lato';
    text-align: center;
    font-weight: 300;
    margin: 10rem 0 5rem 0;
}


.estudios-nosotros {
    display: flex;
    justify-content: center;
}

.estudio {
    flex-basis: calc(20%);
    text-align: center;  
}


.estudio h4{
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 3rem;
    color: white;
    margin: 0 0 3rem 0;
}


/*---------------- BLOG -----------------*/
.contenido-blog h1 {
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 3rem;
    color: white;
    text-align: center;
    margin: 5rem 0 10rem 0;

}

.pagina-blog{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.pagina-blog:last-of-type{
    margin-bottom: 0;
}


.pagina-blog .imagen {
    flex-basis: 30%;

}

.pagina-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
    color: white;
    font-size: 1.8rem;
}


/*---------------- GAMES -----------------*/

.pagina-contenedor-juegos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagina-juego {
   
   flex-shrink: 0;
   flex-basis: calc(22.2% - 1rem);
   border:1px solid #b5b5b5;
   background-color: #5f5f5f;
   margin-bottom: 3rem;
   height: 100%;

}

.pagina-contenido-juego{
    text-align: center;
    color: white;
    padding: 2rem;
}
.pagina-contenido-juego p{
    padding-top: 2rem;
    font-size: 1.8rem;
}

.pagina-contenido-juego h3,
.pagina-contenido-juego p{
    line-height: 1.1;
    margin: 0;
    
}

.pagina-precio {
    color: #71b171;
    font-weight: 700;
    margin: 0;
    padding-top: 1.8rem;

}

.games-titulo{
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 300;
    line-height: 3rem;
    color: white;
    text-align: center;
    margin-top: 5rem;
   
}

/*----------------- DOOM ETERNAL (LANDING PAGE) ------------------*/

.site-header.lp-inicio {
   
    background: url(https://arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/2WAWYRXY7JGDRDGVBZ36EI4KRI.jpg);
    background-position: center + 2rem center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.icono-barra {

}

.icono-barra::after{
    content: '';
    display: inline-block;
    width: .2rem;
    height: 4rem;
    background-color: white;
   margin: 1rem 1rem 0 1.8rem;
}

.portada-botones {
    text-align: center;
}


.portada-botones a {
    margin: 0 2rem 0 2rem;
    width: 10%;
    padding: 2.5rem;
}

.boton-intro{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}
.boton-intro:hover{
    background-color: red;
}

.boton-blanco{
    color: black;
    font-weight: 400;
    font-family: 'Oswald';
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    background-color: whitesmoke;
    
}

.boton-blanco:hover{
    color: white;
}

.imagen-intro {
    background-image: url(../img/doom-banner.JPG);
    
    background-position: center center;
    background-size: cover;
    height: 65rem;
    
   display: flex;
   justify-content: center;
  
}

.contenido-intro {
   text-align: center;
   margin-top: 10rem;

}
.contenido-intro h2{
    color: white;
    margin-bottom: 10rem;
    font-size: 5rem;
    font-family: 'Lato';
}
.contenido-intro p {
    font-size: 2rem;
    color: white;
    margin-bottom: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.multimedia-encabezado{
   
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 8rem;
    font-family: 'Lato';
    font-size: 3.6rem;
    color: white;
}

.multimedia-video {
   text-align: center;
   margin-bottom: 7rem;
}

.imagenes-multimedia {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    
}

.img-multimedia {
    flex-basis: calc(22.8% - 1rem);
    ;


}
.img-multimedia img{
    object-fit: cover;
    object-position: center;
}

.img-multimedia-centro:hover,
.img-multimedia img:hover {
    filter: grayscale(100%);
    transform: scale(1.05);
}

.img-multimedia-centro {
    flex-basis: calc(45% - 1rem);
    


}

.imagen-banner{
    background-image: url(../img/doom-img-1.JPG);
    margin-top: 6rem;
    background-position: center center;
    background-size: cover;
    height: 60rem;
    display: flex;
    align-items: center;
}

.contenido-banner {
    flex: 1;
    color: white;
  
}

.contenido-banner h2 {
    font-family: 'Oswald';
    line-height: 7rem;
    font-size: 5rem;
    width: 40%;
}

.contenido-banner p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    width: 50%;
}


/*--------------------SLIDES------------------*/

.slidershow{
   
    overflow: hidden;

}

.middle{
    background-position: center center;
    background-size: cover;
    height: 70rem;
    
}
.slides{
    position: relative;
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
    display: flex;
    justify-content: left;
}

.slide img{
    width: 100%;
    height: 100%;
}
.slide h1{
    position: absolute;
}

.nav-slides{
    position: absolute;
    margin-left: 133rem;
    margin-top: 55rem;
    display: flex;
}

.bar{
    width: 80px;
    height: 10px;
    border: 3px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

.slider-texto {
    position: absolute;
    flex: 1;
    color: white;
    margin-left: 100px;
    margin-top: 150px;
 }

.slider-texto h2 {
    font-family: 'Oswald';
    line-height: 7rem;
    font-size: 5rem;
    width: 40%;
}
    
.slider-texto p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    width: 50%;
}
    




    /*
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);



*/